.hero {
    overflow: hidden;
    padding-top: 200px;
    margin-bottom: 175px;
    .hero__wrapper {
        display: flex;
        align-items: center;
        .hero__image {
            cursor: context-menu;
            width: 50%;
            img {
                width: 380px;
                height: 380px;
            }
        }
        .hero__title {
            cursor: context-menu;
            width: 100%;
            h2 {
                font-size: 65px;
                font-weight: 600;
            }
            p {
                font-style: italic;
                font-size: 16px;
            }
        }
    }
}